In [1]:
import pandas as pd
import numpy as np
data  = pd.DataFrame.from_csv('ncaa-team-data.csv')
data

,Team,Seed,Year,Efficiency Margin,Offensive Efficiency,Defensive Efficiency,Tempo,Luck,Strength of Schedule,Opponent Offense,Opponent Defense,Non-Conference Strength of Schedule
0,Gonzaga,1,2017,32.05,118.4,86.3,70.1,0.020,2.99,106.2,103.2,1.02
1,Villanova,1,2017,29.88,122.4,92.5,64.0,0.010,9.33,109.8,100.4,3.55
2,North Carolina,1,2017,28.22,120.7,92.5,71.2,0.037,12.49,112.0,99.5,3.87
3,Kentucky,2,2017,27.72,119.1,91.4,71.9,0.006,10.98,110.4,99.5,3.74
4,Florida,4,2017,27.50,116.9,89.4,68.9,-0.041,12.46,110.2,97.7,8.19

In [7]:
ID = pd.read_csv('ncaa-team-id.csv')
ID.head()

   Team_ID         Team
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [13]:
ID_teams = ID['Team']
for team in ID_teams:
    print team

Abilene Chr
Air Force
Akron
Alabama
Alabama A&M
Alabama St
Albany NY
Alcorn St
Alliant Intl
American Univ
Appalachian St
Arizona
Arizona St
Ark Little Rock
Ark Pine Bluff
Arkansas
Arkansas St
Armstrong St
Army
Auburn
Augusta
Austin Peay
Ball St
Baylor
Belmont
Bethune-Cookman
Binghamton
Birmingham So
Boise St
Boston College
Boston Univ
Bowling Green
Bradley
Brooklyn
Brown
Bryant
Bucknell
Buffalo
Butler
BYU
C Michigan
Cal Poly SLO
California
Campbell
Canisius
Cent Arkansas
Centenary
Central Conn
Charleston So
Charlotte
Chattanooga
Chicago St
Cincinnati
Citadel
Clemson
Cleveland St
Coastal Car
Col Charleston
Colgate
Colorado
Colorado St
Columbia
Connecticut
Coppin St
Cornell
Creighton
CS Bakersfield
CS Fullerton
CS Northridge
CS Sacramento
Dartmouth
Davidson
Dayton
Delaware
Delaware St
Denver
DePaul
Detroit
Drake
Drexel
Duke
Duquesne
E Illinois
E Kentucky
E Michigan
E Washington
East Carolina
Edwardsville
Elon
ETSU
Evansville
F Dickinson
Fairfield
FL Atlantic
FL Gulf Coast
Florida
Florida A&M
Florida Intl
Florida St
Fordham
Fresno St
Furman
G Washington
Ga Southern
Gardner Webb
George Mason
Georgetown
Georgia
Georgia St
Georgia Tech
Gonzaga
Grambling
Grand Canyon
Hampton
Hardin-Simmons
Hartford
Harvard
Hawaii
High Point
Hofstra
Holy Cross
Houston
Houston Bap
Howard
Idaho
Idaho St
IL Chicago
Illinois
Illinois St
Incarnate Word
Indiana
Indiana St
Iona
Iowa
Iowa St
IPFW
IUPUI
Jackson St
Jacksonville
Jacksonville St
James Madison
Kansas
Kansas St
Kennesaw
Kent
Kentucky
La Salle
Lafayette
Lamar
Lehigh
Liberty
Lipscomb
Long Beach St
Long Island
Longwood
Louisiana Tech
Louisville
Loy Marymount
Loyola MD
Loyola-Chicago
LSU
MA Lowell
Maine
Manhattan
Marist
Marquette
Marshall
Maryland
Massachusetts
McNeese St
MD E Shore
Memphis
Mercer
Miami FL
Miami OH
Michigan
Michigan St
Minnesota
Mississippi
Mississippi St
Missouri
Missouri KC
Missouri St
Monmouth NJ
Montana
Montana St
Morehead St
Morgan St
Morris Brown
MS Valley St
Mt St Mary's
MTSU
Murray St
N Colorado
N Dakota St
N Illinois
N Kentucky
Navy
NC A&T
NC Central
NC State
NE Illinois
NE Omaha
Nebraska
Nevada
New Hampshire
New Mexico
New Mexico St
New Orleans
Niagara
Nicholls St
NJIT
Norfolk St
North Carolina
North Dakota
North Florida
North Texas
Northeastern
Northern Arizona
Northern Iowa
Northwestern
Northwestern LA
Notre Dame
Oakland
Ohio
Ohio St
Okla City
Oklahoma
Oklahoma St
Old Dominion
Oral Roberts
Oregon
Oregon St
Pacific
Penn
Penn St
Pepperdine
Pittsburgh
Portland
Portland St
Prairie View
Presbyterian
Princeton
Providence
Purdue
Quinnipiac
Radford
Rhode Island
Rice
Richmond
Rider
Robert Morris
Rutgers
S Carolina St
S Dakota St
S Illinois
Sacred Heart
Sam Houston St
Samford
San Diego
San Diego St
San Francisco
San Jose St
Santa Barbara
Santa Clara
Savannah St
SC Upstate
SE Louisiana
SE Missouri St
Seattle
Seton Hall
SF Austin
Siena
SMU
South Alabama
South Carolina
South Dakota
South Florida
Southern Miss
Southern Univ
Southern Utah
St Bonaventure
St Francis NY
St Francis PA
St John's
St Joseph's PA
St Louis
St Mary's CA
St Peter's
Stanford
Stetson
Stony Brook
Syracuse
TAM C. Christi
TCU
Temple
Tennessee
Tennessee St
Tennessee Tech
Texas
Texas A&M
Texas St
Texas Tech
TN Martin
Toledo
Towson
Troy
Tulane
Tulsa
UTRGV
TX Southern
UAB
UC Davis
UC Irvine
UC Riverside
UCF
UCLA
ULL
ULM
UMBC
UNC Asheville
UNC Greensboro
UNC Wilmington
UNLV
USC
UT Arlington
UT San Antonio
Utah
Utah St
Utah Valley
UTEP
Utica
VA Commonwealth
Valparaiso
Vanderbilt
Vermont
Villanova
Virginia
Virginia Tech
VMI
W Carolina
W Illinois
WKU
W Michigan
W Salem St
W Texas A&M
Wagner
Wake Forest
Washington
Washington St
Weber St
West Virginia
WI Green Bay
WI Milwaukee
Wichita St
William & Mary
Winthrop
Wisconsin
Wofford
Wright St
Wyoming
Xavier
Yale
Youngstown St

In [14]:
ID['Team'] = ID['Team'].replace("Wichita St","Wichita St.")
ID['Team'] = ID['Team'].replace("St Mary's CA","Saint Mary's")
ID['Team'] = ID['Team'].replace("Iowa St","Iowa St.")
ID['Team'] = ID['Team'].replace("Oklahoma St","Oklahoma St.")
ID['Team'] = ID['Team'].replace("Florida St","Florida St.")
ID['Team'] = ID['Team'].replace("Kansas St","Kansas St.")
ID['Team'] = ID['Team'].replace("Michigan St","Michigan St.")
ID['Team'] = ID['Team'].replace("MTSU","Middle Tennessee")
ID['Team'] = ID['Team'].replace("VA Commonwealth","VCU")
ID['Team'] = ID['Team'].replace("ETSU","East Tennessee St.")
ID['Team'] = ID['Team'].replace("New Mexico St","New Mexico St.")
ID['Team'] = ID['Team'].replace("FL Gulf Coast","Florida Gulf Coast")
ID['Team'] = ID['Team'].replace("N Kentucky","Northern Kentucky")
ID['Team'] = ID['Team'].replace("Kent","Kent St.")
ID['Team'] = ID['Team'].replace("Jacksonville St","Jacksonville St.")
ID['Team'] = ID['Team'].replace("NC Central","North Carolina Central")
ID['Team'] = ID['Team'].replace("S Dakota St.","South Dakota St.")
ID['Team'] = ID['Team'].replace("Mt St Mary's","Mount St. Mary's")
ID['Team'] = ID['Team'].replace("TX Southern","Texas Southern")
ID['Team'] = ID['Team'].replace("Texas A&M","Texas A&M;")
ID['Team'] = ID['Team'].replace("SF Austin","Stephen F. Austin")
ID['Team'] = ID['Team'].replace("St Joseph's PA","Saint Joseph's")
ID['Team'] = ID['Team'].replace("Ark Little Rock","Arkansas Little Rock")
ID['Team'] = ID['Team'].replace("Oregon St","Oregon St.")
ID['Team'] = ID['Team'].replace("Fresno St","Fresno St.")
ID['Team'] = ID['Team'].replace("CS Bakersfield","Cal St. Bakersfield")
ID['Team'] = ID['Team'].replace("WI Green Bay","Green Bay")
ID['Team'] = ID['Team'].replace("Weber St","Weber St.")
ID['Team'] = ID['Team'].replace("Southern Univ","Southern")
ID['Team'] = ID['Team'].replace("F Dickinson","Fairleigh Dickinson")
ID['Team'] = ID['Team'].replace("San Diego St","San Diego St.")
ID['Team'] = ID['Team'].replace("NC State","North Carolina St.")
ID['Team'] = ID['Team'].replace("Boise St","Boise St.")
ID['Team'] = ID['Team'].replace("Georgia St","Georgia St.")
ID['Team'] = ID['Team'].replace("St John's","St. John's")
ID['Team'] = ID['Team'].replace("Albany NY","Albany")
ID['Team'] = ID['Team'].replace("E Washington","Eastern Washington")
ID['Team'] = ID['Team'].replace("Coastal Car","Costal Carolina")
ID['Team'] = ID['Team'].replace("North Dakota St","North Dakota St.")
ID['Team'] = ID['Team'].replace("Ohio St","Ohio St.")
ID['Team'] = ID['Team'].replace("St Louis","Saint Louis")
ID['Team'] = ID['Team'].replace("Arizona St","Arizona St.")
ID['Team'] = ID['Team'].replace("G Washington","George Washington")
ID['Team'] = ID['Team'].replace("Lafayette","Louisiana Lafayette")
ID['Team'] = ID['Team'].replace("American Univ","American")
ID['Team'] = ID['Team'].replace("E Kentucky","Eastern Kentucky")
ID['Team'] = ID['Team'].replace("W Michigan","Western Michigan")
ID['Team'] = ID['Team'].replace("WI Milwaukee","Milwaukee")
ID['Team'] = ID['Team'].replace("Cal Poly SLO","Cal Poly")
ID['Team'] = ID['Team'].replace("WI Milwaukee","Milwaukee")
ID['Team'] = ID['Team'].replace("Colorado St","Colorado St.")
ID['Team'] = ID['Team'].replace("Northwestern LA","Northwestern St.")
ID['Team'] = ID['Team'].replace("W Kentucky","Western Kentucky")
ID['Team'] = ID['Team'].replace("Brooklyn","LIU Brooklyn")
ID['Team'] = ID['Team'].replace("NC A&T","North Carolina A&T;")
ID['Team'] = ID['Team'].replace("Murray St","Murray St.")
ID['Team'] = ID['Team'].replace("Long Beach St","Long Beach St.")
ID['Team'] = ID['Team'].replace("Norfolk St","Norfolk St.")
ID['Team'] = ID['Team'].replace("MS Valley St","Mississippi Valley St.")
ID['Team'] = ID['Team'].replace("Utah St","Utah St.")
ID['Team'] = ID['Team'].replace("Morehead St","Morehead St.")
ID['Team'] = ID['Team'].replace("Indiana St","Indiana St.")
ID['Team'] = ID['Team'].replace("N Colorado","Northern Colorado")
ID['Team'] = ID['Team'].replace("Santa Barbara","UC Santa Barbara")
ID['Team'] = ID['Team'].replace("St Peter's","Saint Peter's")
ID['Team'] = ID['Team'].replace("Boston Univ","Boston University")
ID['Team'] = ID['Team'].replace("Alabama St","Alabama St.")
ID['Team'] = ID['Team'].replace("Sam Houston St","Sam Houston St.")
ID['Team'] = ID['Team'].replace("Morgan St","Morgan St.")
ID['Team'] = ID['Team'].replace("Ark Pine Bluff","Arkansas Pine Bluff")
ID['Team'] = ID['Team'].replace("Cleveland St","Cleveland St.")
ID['Team'] = ID['Team'].replace("Mississippi St","Mississippi St.")
ID['Team'] = ID['Team'].replace("CS Northridge","Cal St. Northridge")
ID['Team'] = ID['Team'].replace("Portland St","Portland St.")
ID['Team'] = ID['Team'].replace("Washington St","Washington St.")
ID['Team'] = ID['Team'].replace("CS Fullerton","Cal St. Fullerton")
ID['Team'] = ID['Team'].replace("Coppin St","Coppin St.")
ID['Team'] = ID['Team'].replace("S Illinois","Southern Illinois")
ID['Team'] = ID['Team'].replace("TAM C. Christi","Texas A&M; Corpus Chris")
ID['Team'] = ID['Team'].replace("Wright St","Wright St.")
ID['Team'] = ID['Team'].replace("Central Conn","Central Connecticut")
ID['Team'] = ID['Team'].replace("Jackson St","Jackson St.")
ID['Team'] = ID['Team'].replace("Florida A&M","Florida A&M;")
ID['Team'] = ID['Team'].replace("Monmouth NJ","Monmouth")
ID['Team'] = ID['Team'].replace("SE Louisiana","Southeastern Louisiana")
ID['Team'] = ID['Team'].replace("Alabama A&M","Alabama A&M;")
ID['Team'] = ID['Team'].replace("IL Chicago","Illinois Chicago")
ID['Team'] = ID['Team'].replace("UT San Antonio","UTSA")
ID['Team'] = ID['Team'].replace("C Michigan","Central Michigan")
ID['Team'] = ID['Team'].replace("Troy","Troy St.")
ID['Team'] = ID['Team'].replace("S Carolina St","South Carolina St.")
ID['Team'] = ID['Team'].replace("McNeese St","McNeese St.")
ID['Team'] = ID['Team'].replace("FL Atlantic","Florida Atlantic")
ID['Team'] = ID['Team'].replace("Alcorn St","Alcorn St.")
#missed a few later on and edited them by hand. whoops
#okay, more than a few. there was a lot all together, lets face it

In [21]:
ID.to_csv('ncaa-team-id-edited.csv')

In [169]:
team_ids = pd.read_csv('ncaa-team-id-edited.csv')
team_ids.head(10)

   Unnamed: 0  Team_ID          Team
0           0     1101   Abilene Chr
1           1     1102     Air Force
2           2     1103         Akron
3           3     1104       Alabama
4           4     1105  Alabama A&M;
5           5     1106   Alabama St.
6           6     1107        Albany
7           7     1108    Alcorn St.
8           8     1109  Alliant Intl
9           9     1110      American

In [157]:
past_results = pd.read_csv('TourneyCompactResults0216.csv')
past_results.head()

   Season  Wteam  Lteam
0    2002   1373   1108
1    2002   1104   1194
2    2002   1112   1364
3    2002   1181   1457
4    2002   1231   1428

In [170]:
winteam = []
losteam = []

for i, row in past_results.iterrows():
    for j, row2 in team_ids.iterrows():
        if row[1] == row2[1]:
            winteam.append(row2[2])
        if row[2] == row2[1]:
            losteam.append(row2[2]) 
        else:
            continue

In [171]:
year = past_results['Season'].values.tolist()   

temp_data = pd.DataFrame({'Year':year,'WinTeam':winteam,'LoseTeam':losteam})

temp_data = temp_data[['Year','WinTeam','LoseTeam']]

In [173]:
year_array = [2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]
win = []
count = 0
for i in range(0,len(year_array)):
    
    temp_teams = data.loc[data['Year'] == year_array[i]]
    temp_wl = temp_data.loc[temp_data['Year'] == year_array[i]]
    
    for j , row in temp_wl.iterrows():
        win_team = row[1]
        lose_team = row[2]
        #print win_team , lose_team
        wlogic = temp_teams['Team'] == win_team
        llogic = temp_teams['Team'] == lose_team
        wrank = temp_teams[wlogic].iloc[0].name
        lrank = temp_teams[llogic].iloc[0].name
        wdata = pd.DataFrame.as_matrix(temp_teams[wlogic])
        ldata = pd.DataFrame.as_matrix(temp_teams[llogic])

        if wdata[0,1] < ldata[0,1]:
            win.append(1)
        elif wdata[0,1] > ldata[0,1]:
            win.append(0)
        elif wdata[0,1] == ldata[0,1] and wrank < lrank:
            win.append(1)
        else:
            win.append(0)

In [174]:
tourn_win_data = pd.DataFrame({'Year':year,'WinTeam':winteam,'LoseTeam':losteam,'Win':win})
tourn_win_data = tourn_win_data[['Year','WinTeam','LoseTeam','Win']]
tourn_win_data.to_csv('tourney-results-0216.csv')

17